body {
    font-family: inherit;
    font-size: 100%;
}

#subjectList {
    width: fit-content;
    padding: 10px;
    margin: left;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 10px rgba(0,0,0,.01)
}
  
input {
    width: fit-content;
    padding: .5em;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
}