body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    display: table; 
    width: 100%; 
    height: 100%;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchForm {
    min-height: 59%;
}
input {
    width: fit-content;
    padding: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 100%;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
}

table {
    align-self: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 20px;
    background: #ddd;
    border-bottom: 1px solid #DBC8C8;
}

th[scope='header'] {
    text-align: left;
    color: #ffffff;
    background: #6c7ae0;
}

td a {
    font-weight: bold;
    text-decoration: none;
    color: #cc8356;
}

td#idx {
    width: 50px;
    text-align: left;
}

td#name {
    width: 500px;
    text-align: left;
}
td#author {
    width: 200px;
    text-align: left;
}
.notice {
    min-height: 38.6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice a {
    text-decoration: none;
    color: #cc8356;
  }