* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/*------------------reponsive----------------*/

.row:after{
    content:"";
    clear:both;
    display:table;
}
[class*="col-"] {
    float:left;
}
/* For dekstop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*------------------header----------------*/
#header {
  background-image: url(../image/menu_bgr.png);
  background-repeat: repeat;
  height: 100px;
}
#webName h2 {
  color: white;
  width: 25%;
  float: right;
  margin-right: 300px;
  margin-top: 50px;
}
#header #logo {
  float: left;
  height: 100%;
}
#header a#logo img {
  height: 80px;
  width: auto;
  margin-left: 300px;
  margin-top: 35px;
}
#header a#logo:hover img {
  transform: scale(1.2);
}
#helloUser span {
  float: right;
  padding-left: 100px;
  margin-right: 120px;
  color: rgba(0, 0, 0, 0.692);
}
#helloUser span a {
  text-decoration: none;
  color: #cc8356;

}

#searchAndLogin {
  margin-top: 10px;
}
#login {
  float: right;
  padding-left: 100px;
  margin-right: 120px;
}
#login a {
  text-decoration: none;
}
#searchAndLogin form {
  float: right;
}
#searchAndLogin .login {
  color: black;
  font-style: italic;
}
#searchAndLogin .search {
  border-radius: 10px;
  border-width: 0.5px;
  border: 1px solid #0053a6;
  line-height: 1.42857143;
  text-align: start;
  padding-left: 3px;
}

/*------------------------------------------------*/

/*------------------countdown clock-----------------*/
#clockdiv h3 {
  font-weight: 100;
  color: #034688;
  text-align: center;
  font-size: 40px;
  margin: 0 0 16px;
}

#clockdiv {
  color: #fff;
  background: rgba(255, 255, 255, 0.63);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0px;
  width: 100%;
}

#clockdiv > div {
  padding: 10px 35px;
  border-radius: 3px;
  background: #55595d;
  display: inline-block;
}

#clockdiv div > span {
  padding: 0;
  border-radius: 3px;
  font-size: 58px;
  display: inline-block;
}

#clockdiv .smalltext {
  padding-top: 5px;
  font-size: 16px;
}
/*--------------------------------------------*/

/*----------------news and bxh-----------------*/
#newsAndBxh {
  width: 100%;
}
#newsAndBxh::after {
  content: "";
  clear: both;
  display: block;
}

#news_img {
  width: 30%;
  height: auto;
  float: left;
  margin-left: 5px;
}
#news_img h4 {
  color: #ba0000;
  font-size: 20px;
  border-bottom: #dfdfdf solid 2px;
  width: 130px;
}

#news_img img {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

#otherNews {
  width: 40%;
  float: left;
  margin-left: 35px;
  margin-right: 30px;
}
#otherNews h4 {
  color: #ba0000;
  font-size: 20px;
  border-bottom: #dfdfdf solid 2px;
  width: 150px;
}
#otherNews img {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

#bxh {
  width: 25%;
  float: left;
  font-size: 20px;
}
#bxh h4 {
  color: #ba0000;
  border-bottom: #dfdfdf solid 2px;
  width: 175px;
}

.rank img {
  height: 50px;
  width: auto;
  float: left;
  padding-top: 20px;
}
.rank p {
  float: left;
  padding-top: 18px;
  font-size: 30px;
}
#_bxh {
  border: 2px solid #1abc9c;
  border-radius: 15px;
  background: #e7edf5;
}
#_bxh {
  text-align: center;
}
#_bxh h6 {
  background-color: #1abc9c;
  font-size: 25px;
  border: 1px solid #1abc9c;
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.rank {
  border-top: #dfdfdf solid 1px;
  height: 80px;
}
/*--------------------------------------------*/

/*--------------------menu---------------------*/
#menu {
  height: 80px;
  padding-top: 30px;
}

#menu ul {
  height: 100%;

  background: #e7edf5;
  border-radius: 8px;
}

#main_menu {
  text-align: center;
}

#menu ul li {
  list-style: none;
  height: 80px;
}

#main_menu li {
  text-decoration: none;
  display: inline-block;
}

#main_menu li a {
  text-decoration: none;
  font-size: 20px;
  height: auto;
  color: black;
  text-align: center;
  line-height: 80px;
  padding: 30px 30px;
}
#main_menu li a:hover {
  color: red;
}
#main_menu li:hover {
  transform: scale(1.1);
}

#main_menu .active {
  font-weight: bold;
}

/*--------------------------------------------*/
/*---------------select type test---------------*/
#listTypeExam {
  display: flex;
  justify-content: center;
}
 #listTypeExam::after {
  content: "";
  display: block;
  clear: both;
} 
/*---------------select subject----------------*/
#listObject {
  padding: 10px 100px;
  margin-bottom: 60px;
}
#listObject::after {
  clear: both;
  content: "";
  display: block;
}
.sbox {
  float: left;
  width: 250px;
  height: 250px;
  margin: 15px 38px;
  background-color: lightgrey;
  text-align: center;
}

.sbox img {
  width: 240px;
  height: 80%;
}

.sbox a:hover img {
  transform: scale(1.1);
}
.sbox p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

#selectSubject {
  text-align: center;
  padding-top: 40px;
}


/*--------------------------------------------*/

/*-----------------footer-----------------*/
footer {
  background-image: url(../image/footer-background.png);
  background-repeat: repeat;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;
  padding: 1rem;
  flex-shrink: 0;
  padding-left: 0px;
  padding-right: 0px;
  clear: both;
}
footer::after {
  clear: both;
  content: "";
  display: block;
}
footer div#contact_logo {
  text-align: center;
}

#contact_logo ul {
  margin-top: -15px;
  list-style-type: none;
  text-align: center;
}
#contact_logo ul li {
  display: inline-block;
  margin: 0 10px;
  padding-top: 20px;
}
#contact_logo ul img {
  width: 60px;
  height: 60px;
  border-radius: 22%;
}
#contact_logo ul a:hover img {
  transform: scale(1.5);
}

#footerContent {
  color: white;
  font-family: "Rubik", sans-serif;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  font-style: normal;
}
#members {
  width: 30%;
  height: auto;
  float: left;
  padding-left: 100px;
}
#members i {
  font-style: normal;
}
#members p {
  line-height: 1.6;
}
#contact {
  width: 30%;
  height: auto;
  float: left;
  padding-left: 90px;
}
#contact i {
  font-style: normal;
}

#cpyright {
  float: left;
  padding-top: 80px;
  padding-left: 60px;
}

/*--------------------------------------------*/

#form {
    width: 60%;
    margin: 20px auto;
    float: left;
    margin-left: 20%;
}

#form h3 {
    line-height: 2;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 22px;
}

#form .content {
    line-height: 2;
    margin-left: 20px;
    margin-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: 500;
}


.question {
    line-height: 2;
    border: 2px solid #0a2947;
}

.answer {
  line-height:3px ;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  font-size: 20px;
  font-weight: 400;
  margin-left: 50px;
  display: inline;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -999px;
}
[type="radio"]:checked + .answer,
[type="radio"]:not(:checked) + .answer
{
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + .answer:before,
[type="radio"]:not(:checked) + .answer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + .answer:after,
[type="radio"]:not(:checked) + .answer:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #2ea44f;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + .answer:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + .answer:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#submitDiv{
    text-align: center;
}
#submitBtn {
color: #fff;
background-color: #2ea44f;
border-color: rgba(27,31,35,.15);
box-shadow: 0 1px 0 rgba(27,31,35,.1), inset 0 1px 0 hsla(0,0%,100%,.03); 
width: 100px;
height: 50px;
border: 1px solid;
border-radius: 6px;
margin-bottom: 20px;
}

#clockdivTest h3 {
font-weight: 100;
color: #034688;
text-align: center;
font-size: 35px;
margin: 0 0 16px
}

/*CSS for sign_in*/

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  /*background-color: #1A1A1D;*/
  /* background-image: url("../image/background_.jpg");
    background-repeat: no-repeat;
    background-size: 2000px; */
  /* background-image: url("../image/background.png"); */
  background-color: #2361746b;
}

.joinInnerContainer {
  /*width: 20%;*/
  background-color: rgba(48, 98, 145, 0.425);
  margin: 0 auto;
  width: 30%;
  padding: 40px;
  border-radius: 10px;
}

.joinInput {
  border-radius: 10px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  /* border-bottom: 2px solid white; */
}

.footing {
  color: white;
  font-size: 1em;
  padding-bottom: 10px;
  /*border-bottom: 2px solid white;*/
}

.button {
  color: #fff !important;
  font-size: 20px; 
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
.view_listtopic a {
  text-decoration: none;
  color: #e39f9f;
}
.view_listtopic .container {
  background-color: black;
  width: 100%;
  height: 25px;
}
.view_listtopic .container .buttons {
  color: #fff;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
  width: 50px;
  display: inline-block;
  padding-left: 10px;
}
.beautify {
  color: #fff;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
  width: 200px;
  display: inline-block;
  padding-left: 10px;
}
.topic {
  border: 1px solid #000000;
  width: 100%;
}
.topic .col-8 {
  width: 90%;
}
.topic .col-4 {
  width: 10%;
}
.create_topic {
  background-image: linear-gradient(#616161, #9bc5c3);
}
.create_topic h2 {
  color: #fff;
}
.create_topic input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.create_topic input[type="submit"] {
  color: #fff;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  width: 100px;
  height: 50px;
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
}
.create_topic select {
  width: 40%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.create_topic textarea {
  width: 60%;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.view_topic {
  background-image: linear-gradient(#c7c7c7, #fff);
}
.view_topic p {
  padding: 10px;
}
.view_topic a {
  text-decoration: none;
  color: #e39f9f;
}
.view_topic h2 {
  padding-top: 100px;
}
.blog {
  padding: 10px;
}
.comments {
  display: flex;
  padding: 20px 20px;
}
.comments textarea {
  float: left;
  width: 1338px;
  height: 149px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.comments input[type="submit"] {
  color: #fff;
  float: right;
  background-color: #2ea44f;
  border-color: rgba(27, 31, 35, 0.15);
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1),
    inset 0 1px 0 hsla(0, 0%, 100%, 0.03);
  width: 100px;
  height: 50px;
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
  margin-left: 25px;
}
.comments-box {
  padding: 10px 10px 10px 10px;
  border-bottom: #000 1px solid;
}
.comments-box p {
  word-wrap: break-word;
}
/*--------------------------------------------------*/
table {
  align-self: center;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  padding: 20px;
  background: #ddd;
  border-bottom: 1px solid #dbc8c8;
}

th[scope="header"] {
  text-align: left;
  color: #ffffff;
  background: #6c7ae0;
}

td a {
  font-weight: bold;
  text-decoration: none;
  color: #cc8356;
}

td#idx {
  width: 50px;
  text-align: left;
}

td#name {
  width: 500px;
  text-align: left;
}
td#author {
  width: 200px;
  text-align: left;
}

/*CSS for profile*/
.card-container {
  width: 1000px;
  /* width: 100%; */
  margin: 0 auto;
  /* height: 430px; */
  background: #fff;
  border-radius: 6px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  box-shadow: 0px 1px 10px 1px #000;
  overflow: hidden;
  display: inline-block;
}

.upper-container {
  height: 150px;
  /* background: #7F00FF; */
  background: #6c7ae0;
  /* width: 30%;
  float: left; */
}
.image-container {
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(400px, 50px);
}
.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.lower-container {
  height: auto;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  /* width: 100%; */
  /* width: 70%;
  float: right; */
  font-size: 30px;
}

/* .lower-container::after {
clear: both;
content: "";
display: block;
} */

.uploadImg{
  width: 40%;
  float: left;
}

.info{
  font-size: 25px;
  width: 60%;
  float: right;
}

.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 0.6;
  font-weight: lighter;
}
.lower-container h4 {
  color: #7f00ff;
  opacity: 0.6;
  font-weight: bold;
}
.lower-container p {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn_ {
  padding: 12px 20px;
  background: #7f00ff;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.lower-container .btn_:hover {
  background: transparent;
  color: #7f00ff;
  border: 2px solid #7f00ff;
}

#clockdivTest {
    
    color: #fff;
    background: rgba(255,255,255,0.63);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    width: 20%;
    /* float: right; */
    position: fixed;
    margin-top: 210px;
}

#clockdivTest > div {
    padding: 10px 35px;
    border-radius: 3px;
    background: #55595d;
    display: inline-block
}

#clockdivTest div > span {
    padding: 0;
    border-radius: 3px;
    font-size: 50px;
    display: inline-block;
}

#clockdivTest .smalltext {
    padding-top: 5px;
    font-size: 16px;
}
.notice {
  min-height: 38.6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice a {
  text-decoration: none;
  color: #cc8356;
}